.trainerForm {
	width: 100%;

	&__title {
		color: Salmon;
		text-align: center;
		margin-bottom: 7px;
		user-select: none;
	}

	&__subtitle {
		max-width: 450px;
		text-align: center;
		color: Gainsboro;
		font-style: italic;
		font-size: 16px;
		user-select: none;
		margin: 0 auto 40px;
	}

	&__name,
	&__description {
		margin-bottom: 5px;
		user-select: none;
		text-align: center;
		cursor: pointer;

		&:hover {
			text-decoration: underline 2px;
			transform: scale(1.02);
		}

		&:active {
			text-decoration: underline 2px;
			transform: scale(0.98);
		}
	}

	&__name {
		color: white;
		max-width: 500px;
		margin: 0 auto 3px;
	}

	&__description {
		color: Beige;
		max-width: 500px;
		margin: 0 auto 3px;
	}

	&__nameInput,
	&__descrArea {
		height: 30px;
		width: 500px;
		padding-left: 10px;
		font-size: 14px;
		border-radius: 7px;
		border: none;
		margin: 0 auto 5px;
		display: block;
	}

	&__nameInput {
		background: LavenderBlush;
		box-shadow: 0px 0px 3px Gainsboro;

		&:focus {
			outline: solid DarkGrey 2px;
			box-shadow: 0px 0px 3px 2px DarkGray;
		}
	}

	&__descrArea {
		background: Beige;
		box-shadow: 0px 0px 3px Beige;
		resize: none;
		height: 100px;

		&:focus {
			outline: solid Gray 2px;
			box-shadow: 0px 0px 3px 2px AntiqueWhite;
		}
	}

	&__questAmount {
		text-align: center;
		color: LightGray;
		margin-bottom: 15px;
		font-size: 14px;
		user-select: none;

		span {
			color: DeepSkyBlue;
			font-size: 16px;
		}
	}

	&__head,
	&__item {
		display: grid;
		grid-template: 30px / repeat(20, 1fr);
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 18px;
		color: LightCyan;
		border: 1px solid grey;
		border-radius: 7px;
	}

	&__head {
		margin-bottom: 15px;
	}

	&__number,
	&__question,
	&__answer,
	&__actions {
		user-select: none;

		&:not(:last-child) {
			border-right: 1px solid grey;
		}
	}

	&__number,
	&__numb,
	&__question,
	&__ques,
	&__answer,
	&__answ,
	&__actions,
	&__remove {
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
	}


	&__ques,
	&__answ {
		cursor: pointer;

		&:hover {
			text-decoration: underline 2px;
			transform: scale(1.05);
		}

		&:active {
			text-decoration: underline 2px;
			transform: scale(0.95);
		}
	}

	&__number,
	&__numb {
		grid-column: 1;
	}

	&__question,
	&__ques,
	&__questionInput {
		grid-column: 2 / 10;
	}

	&__answer,
	&__answ,
	&__answerInput {
		grid-column: 10 / 18;
	}

	&__actions,
	&__remove {
		grid-column: 18 / 21;
	}

	&__number {
		color: rgb(100, 197, 197);
	}

	&__question {
		color: rgb(211, 202, 118);
	}

	&__answer {
		color: LightSkyBlue;
	}

	&__actions {
		color: rgb(241, 219, 216);
	}

	&__item {
		margin-bottom: 3px;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid grey;
		margin-bottom: 10px;
		height: 32px;
	}

	&__numb {
		color: PaleTurquoise;
	}

	&__ques {
		color: Moccasin;
	}

	&__questionInput,
	&__answerInput {
		height: 30px;
		padding-left: 10px;
		font-size: 14px;
		border-radius: 7px;
		border: none;
	}

	&__questionInput {
		background: NavajoWhite;
		box-shadow: 0px 0px 3px NavajoWhite;

		&:focus {
			outline: solid Peru 2px;
			box-shadow: 0px 0px 3px 2px Chocolate;
		}
	}

	&__answerInput {
		background: PaleTurquoise;
		box-shadow: 0px 0px 3px DeepSkyBlue;

		&:focus {
			outline: solid DodgerBlue 2px;
			box-shadow: 0px 0px 3px 2px DodgerBlue;
			// border: 1px solid SaddleBrown;
		}
	}

	&__answ {
		color: rgb(113, 201, 212);
	}

	&__remove {
		cursor: pointer;
		padding: 2px;


		img {
			height: 100%;

			&:hover {
				transform: scale(1.2);
			}

			&:active {
				transform: scale(0.95);
			}
		}
	}
}