.itemList {
	padding: 15px;
	width: 40%;
	border: 1px solid Silver;
	border-radius: 15px;
	user-select: none;



	h3 {
		color: LightCyan;
		margin-bottom: 5px;
		font-size: 24px;
		text-align: center;
	}

	h4 {
		color: LightCyan;
		margin-bottom: 8px;
		font-size: 18px;
		text-align: center;
	}

	&__description {
		display: block;
		text-decoration: none;
		color: Beige;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
	}

	&__header,
	&__item {
		display: grid;
		align-items: center;
		text-align: center;
	}

	&__header {
		grid-template: 30px / repeat(2, 50%);
		border: 1px solid rgb(219, 219, 219);
		border-radius: 15px;
		margin-bottom: 8px;

		span {
			font-size: 18px;

			&:first-child {
				color: rgb(211, 202, 118);
			}

			&:last-child {
				color: LightSkyBlue;
			}
		}
	}

	&__item {
		grid-template: minmax(25px, auto) / repeat(2, 50%);
		padding: 2px 0;
	}

	&__question,
	&__answer {
		font-size: 16px;
		font-family: Arial;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 5px;
	}

	&__question {
		color: rgb(231, 226, 173);

	}

	&__answer {
		color: PowderBlue;

	}

	&__empty {
		margin: 15px auto 35px;
		color: LightCyan;
		text-align: center;
	}

	&__ghost {
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
}

.chose {
	padding: 15px;
	width: 40%;
	border: 1px solid LightSteelBlue;
	border-radius: 15px;

	h2 {
		text-align: center;
		color: LightBlue;
		margin-bottom: 25px;
		font-size: 24px;
	}
}